@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-family: 'PT Sans', sans-serif;
}

/* UTILITY */

.flex{
    display: flex;
}

.f-space-between{
    justify-content: space-between;
}

.f-center{
    justify-content: center;
}

.f-align-center{
    align-items: center;
}

.f-column{
    flex-direction: column;
}

header{
    background-color: #0084FD;
    padding: 20px;
}

.fa-bars{
    color: white;
}

ul li{
    margin-right: 20px;
    list-style: none;
    color: white;
}

.start-btn{
    border: none;
    border-radius: 25px;
    padding: 5px;
}

.list-cont{
    display: none;
}

.section-container{
    border-radius: 25px;
    width: 90%;
    margin: 0 auto;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.box-1{
    background-color: #B5DDFF;
    color: #1990FD;
    padding: 30px 20px 0 30px;
    border-radius: 20px;
}

.p-box{
    padding-top: 20px;
    font-size: 20px;
    line-height: 30px;
    color: grey;
    font-weight: bold;
}

.apple-btn{
    background-color: #0084FD;
    border: none;
    border-radius: 25px;
    padding: 10px;
    width: 70%;
    margin-top: 20px;
    color: white;
    margin-bottom: 30px;
}

.img-cont > img{
    width: 100%;
    display: block;
}

.box-center{
    margin-top: 30px;
    background-color: #B5DDFF;
    color: #1990FD;
    padding: 30px 30px 0 20px;
    text-align: center;
    border-radius: 20px;
}

.box-center > h2{
    padding-top: 30px;
}

.box-center > p{
    font-size: 21px;
    padding-bottom: 30px;
}

.section2{
    background-color: #9792E4;
    margin-top: 80px;
    padding-bottom: 50px;
}

.section2-cont, .section4-cont{
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.section-img{
    margin-top: 50px;
}

.section-img > img{
    width: 100%;
}

.text-cont{
    color: white;
    margin-top: 50px;
}

.text-cont > h2{
    font-size: 45px;

}

.white-cont{
    background-color: white;
    border-radius: 40px;
    text-align: center;
    margin-top: 30px;
}

.p-white-cont{
    margin-top: 50px;
}

.p-white-cont > p{
    color: white;
    line-height: 30px;
    font-size: 22px;
}

.img-cont2{
    margin-top: 30px;
}
.img-cont2 > img{
    width: 100%;
}

.title-cont2{
    margin-top: 20px;
}


.text-2-cont > p{
    font-size: 26px;
    line-height: 40px;
    padding-top: 20px;
}

.arrow-down{
    border: none;
    border-radius: 50%;
    background-color: #9792E4;
    padding: 25px;
}

.btn-arrow-cont{
    margin-top: 30px;
    padding-bottom: 30px;
}

.section3{
    padding-bottom: 120px;
}

.section3-cont{
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.testimonials{
    font-size: 20px;
}

.span-cont{
    margin-top: 50px;
    margin-bottom: 20px;
}

.text-cont3 > h2{
    color: #9792E4;
    font-size: 41px;
}

.p-cont-2{
    margin-top: 30px;
}

.p-cont-2 > p{
    font-size: 28px;
    line-height: 40px;
}

.card{
    text-align: center;
    background-color: #9792E4;
    border-radius: 40px;
    margin-top: 70px;
    padding-bottom: 30px;
}

.img-circle-cont1, .img-circle-cont2, .img-circle-cont3{
    margin: auto;
    margin-top: 50px;
    padding: 10px;
}

.cardimg{
    width: 150px;
    height: 150px;
    margin: auto;
    border-radius: 50%;
    object-fit: cover;
}

.p-card{
    color: white;
    margin-top: 30px;
}

.p-card > p{
    font-size: 29px;
    line-height: 40px;
}

.card-name-cont{
    margin-top: 30px;
}

.card-name{
    font-size: 25px;
    font-weight: bold;
}

.section4{
    background-color: #9792E4;
    padding-bottom: 80px;
}

.title-cont4{
    text-align: center;
    color: white;
    margin-top: 50px;
}

.title-cont4 > h2{
    font-size: 43px;
}

.card-white{
    background-color: white;
    border-radius: 20px;
    padding: 30px;
    margin-top: 50px;

}

.number-cont > h2{
    font-size: 50px;
    color: #9792E4;
}

.number-cont > h3{
    font-size: 30px;
    color: #9792E4;
    padding-top: 30px;
}

.p-card-cont > p{
    font-size: 24px;
    line-height: 40px;
    color: grey;
    font-weight: bold;
    margin-top: 30px;
}

.btn-more-cont{
    margin-top: 30px;
}

.more-btn{
    background-color: #9792E4;
    border: none;
    width: 40%;
    color: white;
    padding: 15px;
    font-size: 18px;
    border-radius: 20px;
}
































/* QUERY */

@media screen and (min-width: 768px) {


    .section-container{
        flex-direction: row;
        flex-wrap: wrap;
        width: 100%;
        gap: 15px;
    }

    .box-1{
        flex-basis: 63%;
    }

    .box-center{
        flex-basis: 30%;
        margin-top: 0;
    }

    .card{
        display: flex;
        flex-direction: row;
    }

    .p-card > p{
        font-size: 22px;
    }

    .p-cont-2 > p{
        font-size: 19px;
    }

   
}

