@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-family: 'PT Sans', sans-serif;
}

/* UTILITY */

.flex{
    display: flex;
}

.f-space-between{
    justify-content: space-between;
}

.f-center{
    justify-content: center;
}

.f-align-center{
    align-items: center;
}

.f-column{
    flex-direction: column;
}

header{
    background-color: #0084FD;
    padding: 20px;
}

.fa-bars{
    color: white;
}

ul li{
    margin-right: 20px;
    list-style: none;
    color: white;
}

.start-btn{
    border: none;
    border-radius: 25px;
    padding: 5px;
}

.list-cont{
    display: none;
}

.section-container{
    border-radius: 25px;
    width: 80%;
    margin: 0 auto;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.box-1{
    background-color: #B5DDFF;
    color: #1990FD;
    padding: 30px 20px 0 30px;
    border-radius: 20px;
}

.p-box{
    padding-top: 20px;
    font-size: 20px;
    line-height: 30px;
    color: grey;
    font-weight: bold;
}

.apple-btn{
    background-color: #0084FD;
    border: none;
    border-radius: 25px;
    padding: 10px;
    width: 70%;
    margin-top: 20px;
    color: white;
    margin-bottom: 30px;
}

.img-cont > img{
    width: 100%;
    display: block;
}

.box-center{
    margin-top: 30px;
    background-color: #B5DDFF;
    color: #1990FD;
    padding: 30px 30px 0 20px;
    text-align: center;
    border-radius: 20px;
}

.box-center > h2{
    padding-top: 30px;
}

.box-center > p{
    font-size: 21px;
    padding-bottom: 30px;
}

.section2{
    background-color: #9792E4;
    margin-top: 80px;
}

.section2-cont{
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.section-img{
    margin-top: 50px;
}

.section-img > img{
    width: 100%;
}

.text-cont{
    color: white;
    margin-top: 50px;
}






























/* QUERY */

@media screen and (min-width: 768px) {


    .section-container{
        flex-direction: row;
        flex-wrap: wrap;
        width: 100%;
        gap: 15px;
    }

    .box-1{
        flex-basis: 63%;
    }

    .box-center{
        flex-basis: 30%;
        margin-top: 0;
    }

}

