@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-family: 'PT Sans', sans-serif;
}

/* UTILITY */

.flex{
    display: flex;
}

.f-space-between{
    justify-content: space-between;
}

.f-center{
    justify-content: center;
}

.f-align-center{
    align-items: center;
}

.f-column{
    flex-direction: column;
}

header{
    background-color: #0084FD;
    padding: 20px;
}

.navbar{
    width: 90%;
    margin: 0 auto;
}

.fa-bars{
    color: white;
}

ul li{
    margin-right: 20px;
    list-style: none;
    color: white;
}

.start-btn{
    border: none;
    border-radius: 25px;
    padding: 5px;
}

.list-cont{
    display: none;
}

.section-container{
    border-radius: 25px;
    width: 90%;
    margin: 0 auto;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.box-1{
    background-color: #B5DDFF;
    color: #1990FD;
    padding: 30px 20px 0 30px;
    border-radius: 20px;
}

.p-box{
    padding-top: 20px;
    line-height: 30px;
    color: grey;
    font-weight: bold;
}

.apple-btn{
    background-color: #0084FD;
    border: none;
    border-radius: 25px;
    padding: 10px;
    width: 70%;
    margin-top: 20px;
    color: white;
    margin-bottom: 30px;
}

.img-cont > img{
    width: 80%;
    display: block;
}

.box-center{
    margin-top: 30px;
    background-color: #B5DDFF;
    color: #1990FD;
    padding: 30px 30px 0 20px;
    text-align: center;
    border-radius: 20px;
}

.box-center > h2{
    padding-top: 30px;
}

.box-center > p{
    padding-bottom: 30px;
}

.section2{
    background-color: #9792E4;
    margin-top: 80px;
    padding-bottom: 50px;
}

.section2-cont, .section4-cont{
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.section-img{
    margin-top: 50px;
}

.section-img > img{
    width: 100%;
}

.text-cont{
    color: white;
    margin-top: 50px;
}

.text-cont > h2{
}

.white-cont{
    background-color: white;
    border-radius: 40px;
    text-align: center;
    margin-top: 30px;
}

.p-white-cont{
    margin-top: 50px;
}

.p-white-cont > p{
    color: white;
    line-height: 30px;
}

.img-cont2{
    margin-top: 30px;
}
.img-cont2 > img{
    width: 100%;
}

.title-cont2{
    margin-top: 20px;
}


.text-2-cont > p{
    line-height: 40px;
    padding-top: 20px;
}

.arrow-down{
    border: none;
    border-radius: 50%;
    background-color: #9792E4;
    padding: 25px;
}

.btn-arrow-cont{
    margin-top: 30px;
    padding-bottom: 30px;
}

.section3{
    padding-bottom: 120px;
}

.section3-cont, .section6-cont, .footer-cont{
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.testimonials{
}

.span-cont{
    margin-top: 50px;
    margin-bottom: 20px;
}

.text-cont3 > h2{
    color: #9792E4;
}

.p-cont-2{
    margin-top: 30px;
}

.p-cont-2 > p{
    line-height: 40px;
}

.card{
    text-align: center;
    background-color: #9792E4;
    border-radius: 40px;
    margin-top: 70px;
    padding-bottom: 30px;
}

.img-circle-cont1, .img-circle-cont2, .img-circle-cont3{
    margin: auto;
    margin-top: 50px;
    padding: 10px;
}

.cardimg{
    width: 200px;
    height: 200px;
    margin: auto;
    border-radius: 50%;
    object-fit: cover;
}

.p-card{
    color: white;
    margin-top: 30px;
}

.p-card > p{
    line-height: 40px;
}

.card-name-cont{
    margin-top: 30px;
}

.card-name{
    font-weight: bold;
}

.section4{
    background-color: #9792E4;
    padding-bottom: 80px;
}

.title-cont4{
    text-align: center;
    color: white;
    margin-top: 50px;
}

.title-cont4 > h2{
}

.card-white{
    background-color: white;
    border-radius: 20px;
    padding: 30px;
    margin-top: 50px;

}

.number-cont > h2{
    font-size: 50px;
    color: #9792E4;
}

.number-cont > h3{
    font-size: 30px;
    color: #9792E4;
    padding-top: 30px;
}

.p-card-cont > p{
    line-height: 40px;
    color: grey;
    font-weight: bold;
    margin-top: 30px;
}

.btn-more-cont{
    margin-top: 30px;
}

.more-btn{
    background-color: #9792E4;
    border: none;
    width: 40%;
    color: white;
    padding: 15px;
    font-size: 18px;
    border-radius: 20px;
}

.section5-cont{
    width: 90%;
    margin: 0 auto;
    /*display: flex;
    flex-direction: column;*/
}

.title-cont2-about{
    margin-top: 50px;
    color: #9792E4;
}

.title-cont2-about > h2{
    font-size: 30px;
}

.title-cont4 > h2{
    font-size: 38px;
}

.section5{
    padding-bottom: 80px;
}

.longp-cont1, .longp-cont2{ 
    margin-top: 30px;
}

.longp-cont1, .longp-cont2 > p{
    line-height: 40px;
    color: black;
}

.img-circle-cont-about{
    margin-top: 50px;
    position: relative;
    display: inline-block;
}

.icon-about-cont{
    color: #9792E4;
    
    
}

.icon-about-cont{
    position: absolute;
    left: 145px;
    top: 0;
}

.title-about-cont{
    margin-top: 30px;
    color: #9792E4;
}

.title-about-cont > h2{
    line-height: 40px;
}

.linkedin-btn-cont{
    margin-top: 30px;
}

.linkedin-btn{
    width: 45%;
    border: none;
    background-color: #9792E4;
    border-radius: 50px;
    padding: 10px;
    color: white;
}

.section6{
    background-color: #9792E4;
    padding-bottom: 80px;
}

.span-get-cont{
    color: lightgray;
    margin-top: 50px;
}

.span-get-cont > span{
    font-size: 25px;
}

.title-simply-cont{
    margin-top: 30px;
    color: white;
}

.title-simply-cont > h3{
    font-size: 30px;
}

.free-price-cont{
    margin-top: 30px;
    color: orange;
}

.free-price-cont > h2{
    font-size: 50px;
}

.p-beta-cont{
    margin-top: 30px;
    color: white;
    line-height: 30px;
}

.big-starter-cont{
    margin-top: 30px;
}

.btn-big-start{
    width: 55%;
    border: none;
    border-radius: 50px;
    padding: 20px;
    font-size: 18px;
    color: #9792E4;
}

.p-credits-cont{
    margin-top: 30px;
    color: white;
}

#link-privacy{
    color: white;
}
footer{
    background-color: #333333;
    padding-bottom: 50px;
}

.footer-p-cont{
    margin-top: 50px;
    color: white;
}

.footer-p-cont2{
    margin-top: 30px;
}

.footer-link{
    color: #9792E4;
}



































/* QUERY */

@media screen and (min-width: 768px) {


    .section-container{
        flex-direction: row;
        flex-wrap: wrap;
        width: 100%;
        gap: 15px;
    }

    .box-1{
        flex-basis: 63%;
    }

    .box-center{
        flex-basis: 30%;
        margin-top: 0;
    }

    .card{
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .p-card > p{
        font-size: 22px;
        text-align: left;
    }

    .p-cont-2 > p{
        font-size: 19px;
    }

    .card-name-cont{
        text-align: left;
    }

    

    .section4-cont{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 100%;
        gap: 15px;
    }

    .card-white{
        flex-basis: 45%;
    }

    .p-card-cont >p{
        font-size: 16px;
    }

    .section5-cont{
        display: flex;
        justify-content: space-between;
    }

    .title-cont2-about{
        flex-basis: 50%;
    }

    .img-circle-cont-about{
        flex-basis: 40%;
    }

    .linkedin-btn{
        width: 80%;
    }

    .btn-big-start{
        width: 40%;
    }

    .text-cont3 > h2{
        font-size: 35px;
    }

    .title-simply-cont > h3{
        font-size: 40px;
    }

    .text-cont > h2{
        font-size: 40px;
    }